.trasparencia2 {

     /*background-color: rgba(26, 158, 158, 0.096); */
     background-color: rgba(6, 126, 126, 0.158);
    color: white;
    resize: none;
    border: 5 none;
    outline: none;
  font-family: 'Roboto', sans-serif;

}
    